/*estilos de main de carta*/
main{
    //animacion
.carousel-item{
    animation-name: ani_portada;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 4s;
}
@keyframes ani_portada {
    0%{
        transform: scale(1);
        opacity: 100%;
    }
    15%{
        transform: scale(1.2);
        opacity: 75%;
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        opacity: 75%;
    }
    100%{
        transform: scale(1);
    }
}
p{
    color: darkgoldenrod;
    .font-monospace{
        color: #f6d831;
        font-weight: bold;
    }
}
}